.container
    section#team.team
        header.team__header
            h2.team__title Silverbird Team
            p Meet the amazing people from Acklen Avenue working on the Silverbird project.
            //.team__filters
                p Filter team members by project:    
                button(class="button button--filter all-team") All members
                button(class="button button--filter aquagem-team") Aqua-gem 
                button(class="button button--filter silverbird-team") Silverbird
        
        .team__structure
            img(class="silverbird" src="img/silverbird-team.svg", alt="Silverbird structure")

        for person in public._data
            article.card(class= person.Project)
                .card__img
                    img(src='./img/' + person.Picture)
                .card__content
                    hgroup.card__header
                        h3.card__title= person.Name
                        h4.card__subtitle= person["Job Title"]
                        h4.card__subtitle= person.City
                
                    .card__details
                        h4.card__subtitle Responsibilities
                        p.card__text= person.Responsibilities
                        h4.card__subtitle Professional Achievement
                        p.card__text= person["Professional achievement"]
                        a.card__link(href= person.Link, target='_blank')= person.Link
                        h4.card__subtitle Personal Achievement
                        p.card__text= person["Personal achievement"]
                        a.card__link(href= person.PersonalLink, target='_blank')= person.PersonalLink
